apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  type: {{ .Values.authService.service.type }}
  ports:
    - port: {{ .Values.authService.service.port }}
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: auth-service
