apiVersion: v1
kind: Service
metadata:
  name: kong
spec:
  type: {{ .Values.kong.service.type }}
  ports:
    - port: {{ .Values.kong.service.port }}
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: kong
