apiVersion: v1
kind: Service
metadata:
  name: nginx-ddos
spec:
  type: {{ .Values.nginx.service.type }}
  ports:
    - port: {{ .Values.nginx.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: nginx-ddos
