apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.nginx.configmap.name }}
data:
  ddos.conf: |
    server {
      listen 8080;
      location / {
        limit_conn_zone $binary_remote_addr zone=addr:10m;
        limit_conn addr {{ .Values.nginx.limits.conn }};
        limit_req_zone $binary_remote_addr zone=req:10m rate={{ .Values.nginx.limits.req }}r/s;
        limit_req zone=req burst={{ .Values.nginx.limits.burst }} nodelay={{ .Values.nginx.limits.nodelay }};
        proxy_pass http://kong:8000;
      }
    }
